.btn {
  background: none;
  border: none;
  cursor: pointer;
  & p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  &-tabs {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #bcbcbc;
    }
    &.active {
      color: $default-black;
      &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $blue;
      }
    }
  }
  &-calculator-tabs {
    background-color: #eee;
    color: $default-black;
    font-size: 16px;
    line-height: 16px;
    padding: 7px 14px;
    border-radius: 4px;
    &.active {
      color: $blue;
      background: #2046d21a;
    }
    &:hover {
      color: $blue;
      background: #2046d21a;
      transition: $transition;
    }
  }

  &-primary {
    width: 100%;
    max-width: 260px;
    height: 80px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    background-color: $accent-color;
    color: $black;
    border-radius: 16px;
    padding: 30px 36px;
    display: flex;
    align-items: center;
    &:hover {
      transition: $transition;
    }
  }
  &-large {
    width: 100%;
    min-width: 340px;
    height: 80px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    background-color: $accent-color;
    color: $black;
    border-radius: 16px;
    padding: 30px 67.5px;
    display: flex;
    align-items: center;
    & img {
      margin-left: 20px;
    }
    &:hover {

      transition: $transition;
    }
  }
}

@media screen and (max-width: 1024px) {
  .btn-primary {
    height: 60px;
    min-width: 256px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 12px;
  }
  .btn-large {
    height: 60px;
    min-width: 256px;
    font-size: 16px;
    line-height: 16px;
    padding: 22px 46px;
    & img {
      margin-left: 10px;
    }
  }
  .btn-calculator-tabs {
    height: 30px;
  }
  .btn-tabs {
    font-size: 14px;
    line-height: 16.8px;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
    }
    &.active {
      &::after {
        bottom: -10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .btn-primary {
    min-width: 320px;
    width: 100%;
    height: 80px;
  }
  .btn-large {
    height: 80px;
    min-width: 340px;
    font-size: 20px;
    line-height: 20px;
    padding: 30px 67.5px;
    & img {
      margin-left: 16px;
    }
  }
  .btn-tabs {
    font-size: 18px;
    line-height: 21.6px;

    &::after {
      content: "";
      position: absolute;
      bottom: -14.5px;
    }
    &.active {
      &::after {
        bottom: -14.5px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .btn-primary {
    min-width: 320px;
    width: 100%;
    height: 60px;
  }
  .btn-calculator-tabs {
    font-size: 14px;
    line-height: 14px;
  }
  .btn-large {
    min-width: 280px;
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    border-radius: 16px;
    padding: 20px 54px;

    & img {
      margin-left: 18px;
    }
  }
  .btn-tabs {
    font-size: 16px;
    line-height: 19.2px;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
    }
    &.active {
      &::after {
        bottom: -10px;
      }
    }
  }
}
