$white: #fff;
$black: #30313d;
$white-bg: #f8f9fc;
$blue-bg: #edf0fa;
$default-black: #000000;
$accent-color: #2d56a3;
$gray-light: #e5ebf4;
$gray-dark: #b3bfd2;
$text-color: #71717e;
$divider-color: #cdccdc;
$transition: all ease-in-out 0.5s;
