.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: $white;
  padding: 30px 0px;

  &__container {
    max-width: 1160px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    max-width: 263px;
    width: 100%;
    height: 60px;
    &:hover {
      cursor: pointer;
    }
    & a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
    }
    & svg {
      width: 100%;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    ul {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 60px;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $black;
      &:hover {
        color: $blue;
        transition: $transition;
      }
    }
  }
  &__actions {
    display: inline-flex;
    gap: 20px;
    max-width: 240px;
    width: 100%;
  }
  &__button {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-radius: 12px;
    transition: 0.3s ease;

    svg {
      width: 24px;
      height: 24px;
    }
    &-call {
      width: 100%;
      max-width: 60px;
      border: 1px solid #e6e6e6;
      &:hover {
        background: $blue;
        svg path {
          stroke: $white; /* Change stroke color on hover */
        }
      }
    }
    &-login {
      max-width: 160px;
      background-color: #fff;
      gap: 10px;
      border: 1px solid #ebeefa;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
    
      &:hover {
        border-color: $blue;
        color: $blue;

        /* Apply stroke color change to the SVG on container hover */
        svg path {
          stroke: $blue; /* Change stroke color on hover */
        }
      }
    
      /* Initial stroke color for SVG */
      // svg path {
      //   stroke: $black; /* Set initial stroke color */
      //   transition: stroke 0.3s ease;
      // }
    }
    
  }
}
