.header--fixed {
  background-color: transparent !important;
  position: relative; // Ensure that the pseudo-element is positioned relative to the header

}
.header--fixed:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  top: -30px;
  left: 0;
  background: linear-gradient(to bottom, #f0f0f0, transparent);
  -webkit-filter: blur(5px);
  filter: blur(5px) ;
  z-index: -10;
}


.header--mobile {
  background: $white;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: $white;
  padding: 20px 0px;
  max-height: 120px;
  height: 100%;

  &__container {
    border-radius: 16px;
    padding: 10px;
    max-width: 1160px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    max-width: 263px;
    width: 100%;
    height: 60px;
    &:hover {
      cursor: pointer;
    }
    & a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
    }
    & svg {
      width: 100%;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    ul {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 60px;
    }
    li {
      list-style: none;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $black;
      &:hover {
        color: $blue;
        transition: $transition;
      }
    }
  }
  &__actions {
    display: inline-flex;
    gap: 20px;
    max-width: 240px;
    width: 100%;
  }
  &__button {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-radius: 12px;
    transition: 0.3s ease;

    svg {
      width: 100%; /* Задаємо ширину 100% від контейнера */
      height: 100%; /* Задаємо висоту 100% від контейнера */
      max-width: 24px; /* Не дозволяємо SVG перевищувати 24px по ширині */
      max-height: 24px; /* Не дозволяємо SVG перевищувати 24px по висоті */
    }

    &-call {
      width: 100%;
      max-width: 60px;
      border: 1px solid #e6e6e6;
      &:hover {
        background: $blue;
        svg path {
          stroke: $white;
        }
      }
    }
    &-login {
      max-width: 160px;
      background-color: #fff;
      gap: 10px;
      border: 1px solid #ebeefa;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        border-color: $blue;
        color: $blue;
        svg path {
          stroke: $blue;
        }
      }
    }
    &-menu {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 10px 0px;
    max-height: 100px;
    background: none;
    &__container {
      width: 90%;
      background: $white;
      padding: 0px 12px;
      border-radius: 20px;
    }
    &__nav {
      display: none;
    }
    &__actions {
      padding: 10px;
      max-width: 320px;
      width: 100%;
    }
    .header__button-menu {
      justify-content: center;
      align-items: center;
      display: flex;

      width: 100%;
      max-width: 60px;
      background-color: #e6e6e6;
      border-radius: 12px;
      padding: 10px;
      cursor: pointer;
      position: relative;
    }
  }
}
