.tabs {
  &__container {
    max-width: 1220px;
    display: flex;
  }
  &__title {
    margin-bottom: 60px;
    & h2 {
      font-weight: 400;
      font-size: 56px;
      line-height: 56px;
    }
  }

  &__buttons {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: none;
  }
  &__item {
    margin-bottom: 60px;
    &-image {
      max-width: 353px;
      margin-bottom: 24px;
      & img {
        width: 100%;
      }
    }
    &-text {
      & span {
        color: $text-color;
      }
      & h3 {
        margin: 16px 0px;
      }
    }
    &-btn {
      display: flex;
      align-items: center;
    }
  }
}

.tabs__list .active {
  display: block;
}
