<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- AOS animation  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- Geologica font -->
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;700;900&display=swap" rel="stylesheet">


    <!-- bundle css -->
    <link rel="stylesheet" href="css/style.bundle.css" />

    <title>Amplio |
    </title>
</head>

<body>
    <div class="l-wrapper">
        <header class="header ">
            <div class="header__container <%= additionalClass %> container">
                <!-- Logo Section -->
                <div class="header__logo">
                    <a href="<%= logoLink %>">
                        <!-- Dynamically load SVG logo -->
                        <%= logoSvg %> 
                    </a>   
                </div>
        
                <!-- Navigation Section -->
                <nav class="header__nav">
                    <ul>
                        <% navLinks.forEach(function(link) { %>
                            <li>
                                <a href="<%= link.href %>"><%= link.text %></a>
                            </li>
                        <% }); %>
                    </ul>
                </nav>
                <div class="header__actions">
                    <% buttons.forEach(function(button) { %>
                        <a class="btn <%= button.class %>">
                            <span><%= button.text %></span>
                            <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <%= button.svg %>
                            </svg>
                        </a>
                    <% }); %>
                </div>
                
            </div>
        </header>
        