<section class="tabs section <%= additionalClass %>">
    <div class="tabs__container">
        <div class="tabs__left">
            <div class="tabs__title">
                <h2><%= title %></h2>
            </div>

            <div class="tabs__buttons">
                <% buttons.forEach(function(button) { %>
                <button
                  class="btn <%= button.class %>"
                  data-tab-target="<%= button.tabTarget %>"
                >
                  <%= button.text %>
                </button>
                <% }); %>
              </div>

            <% groupItems.forEach(function(groupItem) { %>
                <div class="tabs__list" id="<%= groupItem.id %>">
                  <% groupItem.items.forEach(function(item) { %>
                    <div class="tabs__item">
                      <div class="tabs__item-text">
                        <ul><%= item.text %></ul>
                        <span><%= item.title %></span>
                      </div>
                    </div>
                  <% }); %>
                </div>
            <% }); %>

        </div>

        <div class="tabs__right">
            <div class="tabs__decor">
                <img src="<%= decor %>" alt="Tabs Decoration" />
            </div>
        </div>
    </div>
</section>

